
.detail_content{
    width: 100%;
    height: auto;
   margin: auto;
   display: flex;
}
.detail_left{
    background: #ffffff;
    flex: 6;
    border-radius: 10px;
}
.left_detail li{
    height: 40px;
}
.detail_right{
    flex: 4;
    margin-left: 10px;
    border-radius: 10px;
}
